.container{
    border: 1px solid black;
    border-radius: 0.31rem;
    height: 50px;
    width: 70%;
    margin-inline: auto;
    margin-bottom: 15px;
    padding: 3.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn{
      padding: 3px 10px;
}
.delete-btn:hover{
    cursor: pointer;
}